<p style="color: green"><%= notice %></p>

<h1>Lists</h1>

<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Saving List</h5>
    <div class="card-text">
      <%= turbo_frame_tag "list_form" do %>
        <%= render "form", list: @list || List.new %>
      <% end %>
    </div>
  </div>
</div>

<%= turbo_stream_from "lists" %>
  <%= turbo_frame_tag "lists" do %>
  <div data-controller="lists-position">
    <%= render @lists %>
  </div>
<% end %>

<%= link_to "New list", new_list_path %>
