<p style="color: green"><%= notice %></p>

<h1>Lists</h1>

<ul data-controller="lists-position" class="list-group mb-3">
  <% @lists.each do |list| %>
    <%= content_tag :li, data: { sgid: list.to_sgid_param }, class: "list-group-item" do %>
      <%= list.name %> - <%= link_to "Show this list", list %>
    <% end %>
  <% end %>
</ul>

<%= link_to "New list", new_list_path %>
