<p style="color: green"><%= notice %></p>

<%= render @list %>

<ul data-controller="items-position" class="list-group mb-3">
<% @list.items.each do |item| %>
  <%= content_tag :li, data: { sgid: item.to_sgid_param }, class: "list-group-item" do %>
    <%= item.name %>
  <% end %>
<% end %>
</ul>

<div class="btn-group" role="group" aria-label="Actions">
  <%= link_to "Edit this list", edit_list_path(@list), class: 'btn btn-primary' %>
  <%= link_to "Back to lists", lists_path, class: 'btn btn-secondary' %>
</div>

<%= button_to "Destroy this list", @list, data: {confirm: 'Are you sure?'}, method: :delete, class: 'mt-3 btn btn-danger' %>
